<div fxLayout="row" fxLayoutWrap="wrap"  style="display: flex; align-items: center; justify-content: center;height: 100vh;background-size: auto;background-position: center; background-image: url('../../../assets/images/wall.jpg');background-repeat: no-repeat;">
<mat-card style="height: 200px; width: 300px;background-color:rgba(0, 0, 0, 0.5);">
  <div mat-card-avatar class="avatar-image"></div>
  <mat-card-content>
  <form [formGroup]="signinForm" (ngSubmit)="login()">
          <div class="">
            <mat-form-field style="width: 100%">
              <input
              style="color: aliceblue; width: 100%"
                matInput
                name="username"
                [formControl]="signinForm.controls['username']"
                value="">
                <mat-placeholder class="placeholder">Username</mat-placeholder>
            </mat-form-field>
            <small
             style="color: red; "
              *ngIf="signinForm.controls['username'].hasError('required') && signinForm.controls['username'].touched"
              class="form-error-msg"> Username is required </small>
          </div>

          <div class="">
            <mat-form-field style="width: 100%">
              <input
              style="color: aliceblue; width: 100%"
                type="password"
                name="password"
                matInput
                [formControl]="signinForm.controls['password']"
                color="warn"
                value="">
                <mat-placeholder class="placeholder">Password</mat-placeholder>
            </mat-form-field>
            <small
            style="color: red; "
              *ngIf="signinForm.controls['password'].hasError('required') && signinForm.controls['password'].touched"
              class="form-error-msg"> Password is required </small>
          </div>
          <button mat-raised-button class="mat-primary full-width mb-1" [disabled]="signinForm.invalid">Sign in</button>
        </form>
  </mat-card-content>
</mat-card>
</div>
