
  <mat-card style="padding:0px; height: auto;">
<div class="navbar">
  <img src="../../../assets/images/logo.png" style="height: 50px; width: 50px;margin: 10px;">
  <button (click)="logout()" color="primary" mat-raised-button style="float: right;margin: 20px;">Logout</button>
</div>
  </mat-card>
<div fxLayout="row" fxLayoutWrap="wrap" style="width: 100%;">
<mat-card style="height:300px; width: 100%;background-size: auto;background-position: center; background-image: url('../../../assets/images/wall.jpg');background-repeat: no-repeat;margin-bottom:20px;"></mat-card>
</div>

<!--List Starts Here-->
<div fxLayout="row" fxLayoutWrap="wrap" style="margin:20px;">
  <div fxFlex="100" fxFlex.gt-sm="100" fxFlex.sm="100">
    <mat-list role="list">
    <h3 mat-subheader>Season</h3>
  <mat-list-item role="listitem" *ngFor="let data of data?.StandingsTable?.StandingsLists">
    {{data?.season}}
    <mat-divider></mat-divider>
    </mat-list-item>
</mat-list>
  </div>
<div fxFlex="100" fxFlex.gt-sm="100" fxFlex.sm="100">
    <mat-list role="list">
    <h3 mat-subheader>Winner</h3>
  <mat-list-item role="listitem" *ngFor="let data of data?.StandingsTable?.StandingsLists">
    <div *ngFor="let x of data?.DriverStandings"  style="color:indigo;">
    {{x?.Driver?.familyName}} <span> </span>{{x?.Driver?.givenName}}
    </div>
    <mat-divider></mat-divider>
    </mat-list-item>
</mat-list>
</div>
<div fxFlex="100" fxFlex.gt-sm="100" fxFlex.sm="100">
    <mat-list role="list">
    <h3 mat-subheader>Nationality</h3>
  <mat-list-item role="listitem" *ngFor="let data of data?.StandingsTable?.StandingsLists">
    <div *ngFor="let x of data?.DriverStandings">
    {{x?.Driver?.nationality}}
    </div>
    <mat-divider></mat-divider>
    </mat-list-item>
</mat-list>
</div>
<div fxFlex="100" fxFlex.gt-sm="100" fxFlex.sm="100">
    <mat-list role="list">
    <h3 mat-subheader><strong>Points</strong></h3>
  <mat-list-item role="listitem" *ngFor="let data of data?.StandingsTable?.StandingsLists">
    <div *ngFor="let x of data?.DriverStandings">
    {{x?.points}}
    </div>
    <mat-divider></mat-divider>
    </mat-list-item>
</mat-list>
</div>
<div fxFlex="100" fxFlex.gt-sm="100" fxFlex.sm="100">
    <mat-list role="list">
    <h3 mat-subheader>Season Details</h3>
  <mat-list-item role="listitem" *ngFor="let data of data?.StandingsTable?.StandingsLists">
    <div *ngFor="let x of data?.DriverStandings">
    <button (click)="openDialog([data?.season], [x?.Driver?.driverId])" color="primary" mat-raised-button>Details</button>
    </div>
    <mat-divider></mat-divider>
    </mat-list-item>
</mat-list>
</div>
</div>
